@page "/Combo/Delete/{ComboId:int}"
@rendermode InteractiveServer
@inject ComboService comboService
@inject ComboDetalleService comboDetalleService
@inject NavigationManager navigation

<PageTitle>Combo</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h3><strong>Eliminar Combo</strong></h3>
		</div>
		<div class="card-body">
			<h5><strong>Est&aacute;s seguro que deseas eliminar este combo?</strong></h5>
			<div class="mb-1">
				<p><strong>Combo ID:</strong>@combos?.ComboId</p>
			</div>
			<div class="mb-1">
				<p><strong>Fecha:</strong>@combos?.Fecha.ToShortDateString()</p>
			</div>
			<div class="mb-1">
				<p><strong>Nombre:</strong>@combos?.descripcion</p>
			</div>
		</div>
		<div class="mb-1">
			<p><strong>Nombre:</strong>@combos?.precio</p>
		</div>
	</div>

	<div class="bordered bordered-success pt-3 mt-3">
		<table class="table table-light table-bordered">
			<thead class="table table-striped text-center">
				<tr>
					<th>Articulo</th>
					<th>Cantidad</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var detalle in comboDetalle)
				{
					var productoDescripcion = articulo.FirstOrDefault(p => p.ArticuloId == detalle.ArticuloId)?.Descripcion ?? "No encontrado";
					<td>@productoDescripcion</td>
					<td>@detalle.cantidad</td>
					<td>@detalle.Costo.ToString("C")</td>

					}
				</tbody>
			</table>
		</div>

		<div class="card-footer">
			<button type="button" class="btn btn-danger bi bi-trash" @onclick="ElimnarCombo">Eliminar</button>
			<button type="button" class="btn btn-info bi bi-arrow-90deg-left"> Volver</button>
		</div>
	</div>




@code {

	[Parameter]
	public int ComboId { get; set; }
	public Combo? combos;
	public List<ComboDetalle> comboDetalle { get; set; } = new();
	public List<Articulos> articulo { get; set; } = new();
	public string mensaje { get; set; } = string.Empty;

	protected override Task OnInitializedAsync()
	{
		return Combos();
	}

	public async Task Combos()
	{
		/*combos = await comboService.BuscarConDetalles(ComboId);
		if (combos != null)
		{
			comboDetalle = combos.ComboDetalle.ToList();
			articulo = await comboDetalleService.Listar(C => true);
		}*/

	}


	public async Task ElimnarCombo()
	{
		if (combos != null)
		{
			var eliminado = await comboService.Eliminar(ComboId);
			if (eliminado)
			{
				navigation.NavigateTo("/Combo/Index");
			}
			else
			{
				mensaje = "No se pudo eliminar el cliente";
			}
		}

	}

	public void Volver()
	{
		navigation.NavigateTo("/Clientes/Index");
	}



}




}









